[gitflow "feature.finish"]
	no-ff = true
[user]
	name = Ilya Timofeev
	email = il.tmfv@gmail.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
