[gitflow "feature.finish"]
	no-ff = true
[user]
	name = Ilya Timofeev
	email = il.tmfv@gmail.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = true
